/HelloWorld/nbproject/private/
/Person/nbproject/private/
/Person/build/
/Variables/nbproject/private/
/Variables/build/
/Math Applications/nbproject/private/
/Math Applications/build/
/Booleans/nbproject/private/
/Booleans/build/
/UserData/nbproject/private/
/UserData/build/
/Quiz/nbproject/private/
/Quiz/build/
/Repeater/nbproject/private/
/Repeater/build/
/Doubles/nbproject/private/
/Doubles/build/